/* Question 5: External CSS */
/* Modifys appearance of the entire page*/
body {
    font-family: "Arial", sans-serif; 
    background-color: #4B0082; /* Changes page background color to purple */
    color: white;             /* Changes text color to dark brown */  
/* Question 10: CSS Background Image */
/* This section adds a background image to the entire page and centers it */
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
/* End of Question 10 */
}
p, ol, h2, h3, h4, h5, h6 {
    background-color: black;
}
/* Modifies main heading appearance */
h1 {
    font-size: 42px; 
    margin-bottom: 15px;
}
/* End of Question 5 */

/* Modifies links in navbar to have a consistent white color when clicked */
a:link {
    color:white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

/* Question 6: CSS Selectors */
/* Modifies navigation bar background color to purple */
#navbar {
    background-color: #4B0082;
    padding: 20px;
}
/* Modifies hero class divider appearance */
.hero {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}
/* Modifies content class divider appearance */
.content {
    background-color: #6A5ACD;
}
/* End of Question 6 */

/* Question 7: CSS Box Model and Question 8: Flexbox and Responsive Design */
/* This section changes the appearance of card divider elements so they are easily visible */
.cards {
    display: flex; /* Allows the cards to remain in the same relative position as browser display narrows. */
    justify-content: center;
    gap: 20px;
}
.card {
    padding: 30px; /* Creates a space of 30px around the text */
    margin: 30px; /* Creates a space of 30px around each card */
    border: 2px solid #6A5ACD; /* Creates a purple border on each card */
    background-color: white;
    color: black;
    box-shadow: 0 8px 20px gray; /* Adds a gray shadow to increase visibility of each card */
}
/* End of Question 7 and Question 8 */

/* Question 9: */
.button1 {
    background-color: brown;
}
.button2 {
    background-color: black;
}
.button3 {
    background-color: purple;
}
/* Styles all buttons */
button {
    color: white; /* Changes button text color to white */
    padding: 15px 25px;
    border: 2px solid gray;
    border-radius: 8px; /* Creates rounded corners on each button */
    cursor: pointer; /* Changes cursor to pointer when hovering over button */
}
/* Changes background color when hovering or clicking buttons */
button:hover {
    background-color: green;
}
button:active {
    background-color: red;
}
/* End of Question 9 */